@model SwissKnife.Web.Models.FormModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FormModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrefectureId)
        </div>
        <div class="editor-field">
            @Html.DropDownListExFor(model => model.PrefectureId)
            @Html.ValidationMessageFor(model => model.PrefectureId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorId)
        </div>
        <div class="editor-field">
            @Html.RadioButtonListFor(model => model.ColorId)
            @Html.ValidationMessageFor(model => model.ColorId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
